/* ===== Google Font Import - Poformsins ===== */
@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Chakra+Petch:wght@300;400;500;600;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Diphylleia&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.body {
    height: 100vh;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    background-color: #001c30;
    overflow-y: auto;
    /* color: #fff; */
}

.auth-body {
    align-items: flex-start;
    padding-top: 35px;
}
.auth-body.active {
    align-items: flex-start;
    padding-top: 10px;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.auth-container {
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 0 20px;
}

.auth-container .auth-forms {
    display: flex;
    align-items: center;
    height: 440px;
    width: 200%;
    transition: height 0.2s ease;
}

.auth-container .auth-form {
    width: 50%;
    padding: 25px;
    background-color: #fff;
    transition: margin-left 0.18s ease;
}

.auth-container.active .login {
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.auth-container .signup {
    opacity: 0;
    transition: opacity 0.09s ease;
}
.auth-container.active .signup {
    opacity: 1;
    transition: opacity 0.2s ease;
}

.auth-container.active .auth-forms {
    height: 540px;
}
.auth-container .auth-form .title {
    position: relative;
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 5px;
}

.auth-form .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 50%;
    background-color: #176b87;
    border-radius: 25px;
}

.auth-form .input-field {
    position: relative;
    height: 45px;
    width: 100%;
    margin-top: 20px;
}

.input-field input {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 33px;
    border: none;
    outline: none;
    font-size: 15px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) {
    border-bottom-color: #176b87;
}

.input-field span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 20px;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ span {
    color: #176b87;
}

.input-field span.icon {
    left: 0;
}
.input-field span.showHidePw {
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.auth-form .checkbox-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content {
    display: flex;
    align-items: center;
}

.checkbox-content input {
    margin-right: 10px;
    accent-color: #176b87;
}

.auth-form .text {
    color: #333;
    font-size: 14px;
}

.auth-form a.text {
    color: #176b87;
    text-decoration: none;
}
.auth-form a:hover {
    text-decoration: underline;
}

.auth-form .button {
    margin-top: 30px;
}

.auth-form .button input {
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #001c30;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input:hover {
    background-color: #176b87;
}

.auth-form .login-signup {
    margin-top: 28px;
    text-align: center;
}

/* LANDING STYLES */
.landing-container {
    background-color: #f6f9fa;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin: 0;
    /* padding: 20px 15px; */
}
/* 
.landing-container .content {
    margin-top: 100px;
    padding: 20px 15px;
} */

nav {
    background-color: #fff;
    border-bottom: rgb(240, 238, 238) solid 0.5px;
    width: 100%;
    flex: 0.03;
    /* height: 50px; */
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
    top: 0;
    overflow: hidden;
    align-items: center;
    align-content: center;
}

nav h1 {
    font-size: 25px;
    color: #176b87;
}

nav .logo:hover {
    cursor: pointer;
}

nav a {
    font-size: 16px;
    color: #001c30;
    transition: all 0.4s ease;
}

nav a:link,
nav a:visited {
    /* background-color: #0d3642; */
    color: #001c30;
    border-radius: 10px;
    padding: 1em 1.5em;
    text-decoration: none;
}

nav a:hover {
    color: #2a8ec9;
}

nav svg {
    width: 35px;
    height: 35px;
}

nav svg:hover {
    cursor: pointer;
}

nav.nav {
    background-color: #001c30;
    border-bottom: none;
}

nav.nav h1 {
    color: #fff;
}

.auth-list {
    align-items: center;
    text-align: center;
    display: flex;
    /* justify-content: space-between; */
    /* width: 300px; */
    gap: 0.3rem;
}

.content {
    display: flex;
    /* justify-content: center; */
    flex: 0.97;
    align-items: center;
    /* height: 90vh; */
    overflow: auto;
}

.jumbo {
    /* border: solid red 1px; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    column-gap: 15rem;
    justify-content: center;
    /* padding-bottom: 20px; */
}

.jumbo-image {
    /* width: 40%; */
    flex-basis: 550px;
}

.jumbo-image svg {
    height: auto;
    width: 100%;
}

.jumbo-text {
    font-size: 25px;
    flex-basis: 400px;
    align-self: center;
    text-align: center;
}

.jumbo-text h3 {
    color: #001c30;
}

.emphasis {
    color: #176b87;
}

.jumbo-btn {
    margin-top: 30px;
    margin-bottom: 50px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    border-style: none;
    background-color: #176b87;
    color: #fff;
    transition: all 0.3s ease;
    cursor: pointer;
}

.jumbo-btn:hover {
    background-color: #27374d;
}

/* Dashboard styles */
.dashboard-container {
    background-color: #f6f9fa;
    height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    /* overflow-y: hidden; */
    /* padding: 20px 15px; */
}

.main {
    /* margin-top: 50px; */
    flex: 1;
    height: 100vh;
    display: flex;
    overflow-y: hidden;
    background-color: #fff;
}

.main-left {
    flex: 0.16;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    border-right: rgb(0 0 0/12%) solid 1px;
}

.main-right {
    flex: 0.84;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    background-color: #f6f9fa;
}

.sidebar {
    overflow: hidden;
    height: 100vh;
}

/* .sidebar::before,
.sidebar::after {
    box-sizing: border-box;
    border-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: 
} */

.sidebar-item {
    /* border-left: red solid 1px; */
    display: flex;
    font-size: 16px;
    gap: 0.75rem;
    height: 50px;
    align-items: center;
    padding: 10px;
    margin: 10px 10px;
    color: rgb(95, 94, 94);
    transition: all 0.4s ease;
}

.sidebar-item:hover {
    cursor: pointer;
    border-radius: 5px;
    /* background-color: #f6f9fa; */
    padding-left: 15px;
}

.sidebar-item.active {
    border-left: #176b87 solid 4px;
    border-radius: 5px;
    background-color: #f6f9fa;
    color: #176b87;
}

.sidebar-item.active:hover {
    background-color: #edf4f7;
}

.main-right-content {
    /* border: red 1px solid; */
    align-items: center;
    margin: 30px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-right-content h1 {
    /* border: red 1px solid; */
    margin: 20px 0;
    width: 600px;
}

.link-form-container {
    margin: 10px;
    width: 800px;
    /* padding: 40px; */
}
.link-form-container form {
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.link-form-container .link-input {
    height: 80px;
    /* width: 100%; */
    /* border: red 1px solid; */
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.link-form-container .link-input label {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.link-form-container .link-input label span {
    font-weight: 300;
}

.link-form-container .link-input input {
    padding: 15px 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 15px;
    border: 1px solid #ccc;
    /* border: 2px solid transparent; */
    display: flex;
    transition: all 0.2s ease;
}

.link-input input:is(:focus, :valid) {
    border-color: #176b87;
    font-size: 16px;
}

.button-group {
    display: flex;
    gap: 1.2rem;
}

.button-group .link-button {
    display: flex;
    gap: 1.2rem;
}

.button-group input {
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    transition: all 0.2s ease;
}

.cancel-btn {
    color: #176b87;
    background-color: #f6f9fa;
    cursor: pointer;
}

.create-btn {
    color: #fff;
    background-color: #176b87;
    cursor: pointer;
}

.cancel-btn:hover {
    color: #176b87;
    background-color: #ebebeb;
}

.create-btn:hover {
    color: #fff;
    background-color: #11576e;
}

@media screen and (max-width: 768px) {
    .auth-body {
        align-items: flex-start;
        padding-top: 8px;
    }

    .auth-container.active .auth-forms {
        height: 500px;
    }

    .auth-container .auth-form .title {
        font-size: 25px;
    }
    .auth-form .input-field {
        height: 40px;
        margin-top: 25px;
    }
    .auth-form .button input {
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 1px;
    }
    .auth-form .text {
        color: #333;
        font-size: 12px;
    }
    .input-field input {
        font-size: 13px;
        padding: 0 30px;
    }
    .input-field i {
        font-size: 18px;
    }
    .landing-container .content {
        margin-top: 0;
    }
    nav {
        align-items: center;
        align-content: center;
    }
    nav h1 {
        font-size: 30px;
    }

    nav a {
        border-radius: 5px;
        font-size: 18px;
        padding: 0 0.5em;
    }

    nav a:link {
        padding: 0 0.3em;
    }

    .auth-list {
        width: 300px;
        justify-content: space-around;
        gap: 0;
    }

    .jumbo-text {
        font-size: 25px;
        /* padding: 0 0.5rem; */
    }
}

@media screen and (max-width: 414px) {
    .landing-container .content {
        margin-top: 0;
    }
    .auth-body {
        align-items: flex-start;
        padding-top: 8px;
    }

    .auth-container.active .auth-forms {
        height: 500px;
    }

    .auth-container .auth-form .title {
        font-size: 25px;
    }
    .auth-form .input-field {
        height: 40px;
        margin-top: 25px;
    }
    .auth-form .button input {
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 1px;
    }
    .auth-form .text {
        color: #333;
        font-size: 12px;
    }
    .input-field input {
        font-size: 13px;
        padding: 0 30px;
    }
    .input-field i {
        font-size: 18px;
    }
    nav {
        padding: 10px 30px;
    }
    .jumbo-text {
        font-size: 20px;
        padding: 0 0.7rem;
    }

    nav a {
        border-radius: 5px;
        font-size: 15px;
        padding: 0 0.05em;
    }

    .auth-list {
        width: 150px;
        gap: 0;
    }
}

@media screen and (max-width: 280px) {
    .landing-container .content {
        margin-top: 0;
    }
    nav {
        padding: 10px 20px;
    }
    nav h1 {
        font-size: 20px;
    }

    nav a {
        border-radius: 5px;
        font-size: 10px;
        /* margin: 0 0.2em; */
        margin: 0;
    }

    nav a:link {
        padding: 0 0.2em;
    }

    .auth-list {
        width: 100px;
        gap: 0;
    }

    .jumbo-text {
        font-size: 20px;
        /* padding: 0 0.8rem; */
    }

    .jumbo-btn {
        margin-top: 20px;
        width: 100px;
        height: 30px;
        font-size: 12px;
        border-radius: 5px;
        border-style: none;
        background-color: #176b87;
        color: #fff;
    }
}
