<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Shortify</title>
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div class="main-container">
            <nav class="nav">
                <div class="logo">
                    <h1>Shortify</h1>
                </div>
            </nav>
            <div class="body auth-body">
                <div class="auth-container">
                    <div class="auth-forms">
                        <div class="auth-form login">
                            <span class="title">Login</span>

                            <form action="#">
                                <div class="input-field">
                                    <input
                                        type="text"
                                        placeholder="Enter your email"
                                        required
                                    />
                                    <span class="material-icons-outlined">
                                        mail
                                    </span>
                                </div>
                                <div class="input-field">
                                    <input
                                        type="password"
                                        class="password"
                                        placeholder="Enter your password"
                                        required
                                    />
                                    <span class="material-icons-outlined">
                                        lock
                                    </span>
                                    <span
                                        class="material-icons-outlined showHidePw"
                                    >
                                        visibility_off
                                    </span>
                                </div>

                                <div class="checkbox-text">
                                    <div class="checkbox-content">
                                        <input type="checkbox" id="logCheck" />
                                        <label for="logCheck" class="text"
                                            >Remember me</label
                                        >
                                    </div>

                                    <a href="#" class="text"
                                        >Forgot password?</a
                                    >
                                </div>

                                <div class="input-field button">
                                    <input type="button" value="Login" />
                                </div>
                            </form>

                            <div class="login-signup">
                                <span class="text"
                                    >Not Registered?
                                    <a href="#" class="text signup-link"
                                        >Signup Now</a
                                    >
                                </span>
                            </div>
                        </div>

                        <!-- Signup Form -->
                        <div class="auth-form signup">
                            <span class="title">Signup</span>

                            <form action="#">
                                <div class="input-field">
                                    <input
                                        type="text"
                                        placeholder="Enter your name"
                                        required
                                    />
                                    <span class="material-icons-outlined">
                                        person
                                    </span>
                                </div>
                                <div class="input-field">
                                    <input
                                        type="text"
                                        placeholder="Enter your email"
                                        required
                                    />
                                    <span class="material-icons-outlined">
                                        mail
                                    </span>
                                </div>
                                <div class="input-field">
                                    <input
                                        type="password"
                                        class="password"
                                        placeholder="Create password"
                                        required
                                    />
                                    <span class="material-icons-outlined">
                                        lock
                                    </span>
                                </div>
                                <div class="input-field">
                                    <input
                                        type="password"
                                        class="password"
                                        placeholder="Confirm password"
                                        required
                                    />
                                    <span class="material-icons-outlined">
                                        lock
                                    </span>
                                    <span
                                        class="material-icons-outlined showHidePw"
                                    >
                                        visibility_off
                                    </span>
                                    <span
                                        class="material-icons-outlined showHidePw"
                                        >visibility_off</span
                                    >
                                </div>

                                <div class="checkbox-text">
                                    <div class="checkbox-content">
                                        <input type="checkbox" id="termCon" />
                                        <label for="termCon" class="text"
                                            >I accept all terms and
                                            conditions</label
                                        >
                                    </div>
                                </div>

                                <div class="input-field button">
                                    <input type="button" value="Signup" />
                                </div>
                            </form>

                            <div class="login-signup">
                                <span class="text"
                                    >Already Registered?
                                    <a href="#" class="text login-link"
                                        >Login Now</a
                                    >
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="module" src="script.js"></script>
    </body>
</html>
