<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Shortify</title>
        <link
            rel="stylesheet"
            href="https://unicons.iconscout.com/release/v4.0.8/css/line.css"
        />
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div class="main-container">
            <nav class="nav">
                <div class="auth logo">
                    <h1>Shortify</h1>
                </div>
            </nav>
            <% if (type === "signup") { %>
            <div class="body auth-body active">
                <div class="auth-container active">
                                <% } else {%> 
                                    <div class="body auth-body">
                                        <div class="auth-container">
                                    <%}%>
                    <div class="auth-forms">
                        <div class="auth-form login">
                            <span class="title">Login</span>

                            <form class="login-form">
                                <div class="input-field">
                                    <input
                                        type="email"
                                        id="email"
                                        placeholder="Enter your email"
                                        required
                                    />
                                    <i class="uil uil-envelope-alt"></i>
                                </div>
                                <div class="input-field">
                                    <input
                                        id="password"
                                        type="password"
                                        class="password"
                                        placeholder="Enter your password"
                                        required
                                    />
                                    <i class="uil uil-padlock"></i>
                                    <i class="uil uil-eye-slash showHidePw"></i>
                                </div>

                                <div class="checkbox-text">
                                    <div class="checkbox-content">
                                        <input class="checkbox-login" type="checkbox" id="logCheck" />
                                        <label for="logCheck" class="text"
                                            >Remember me</label
                                        >
                                    </div>

                                    <a href="auth/forgot-password" class="text"
                                        >Forgot password?</a
                                    >
                                </div>
                                <div class="error-text">
                                    <svg
                                        class="leafygreen-ui-12snj1w"
                                        height="15"
                                        width="15"
                                        role="img"
                                        aria-label="Warning Icon"
                                        viewBox="0 0 16 16"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            clip-rule="evenodd"
                                            d="M8.8639 2.51357C8.49039 1.82881 7.50961 1.82881 7.1361 2.51357L1.12218 13.5388C0.763263 14.1968 1.23814 15 1.98608 15H14.0139C14.7619 15 15.2367 14.1968 14.8778 13.5388L8.8639 2.51357ZM7 6C7 5.44772 7.44772 5 8 5C8.55228 5 9 5.44772 9 6V10C9 10.5523 8.55228 11 8 11C7.44772 11 7 10.5523 7 10V6ZM9 13C9 13.5523 8.55228 14 8 14C7.44772 14 7 13.5523 7 13C7 12.4477 7.44772 12 8 12C8.55228 12 9 12.4477 9 13Z"
                                            fill="currentColor"
                                        ></path>
                                    </svg>
                                    <p></p>
                                </div>
                                <div class="input-field button">
                                    <div id="login-loader" class="loader"></div>
                                    <input id="login-btn" type="submit" value="Login" />
                                </div>
                            </form>

                            <div class="login-signup">
                                <span class="text"
                                    >Not Registered?
                                    <a class="text signup-link">Signup Now</a>
                                </span>
                            </div>
                        </div>

                        <!-- Signup Form -->
                        <div class="auth-form signup">
                            <span class="title">Signup</span>

                            <form class="signup-form">
                                <div class="input-field">
                                    <input
                                        name="userName"
                                        type="text"
                                        placeholder="Enter your name"
                                        required
                                    />
                                    <i class="uil uil-user"></i>
                                </div>
                                <div class="input-field">
                                    <input
                                        name="email"
                                        type="text"
                                        placeholder="Enter your email"
                                        required
                                    />
                                    <i class="uil uil-envelope-alt"></i>
                                </div>
                                <div class="input-field">
                                    <input
                                        name="password"
                                        type="password"
                                        class="password"
                                        placeholder="Create password"
                                        required
                                    />
                                    <i class="uil uil-padlock"></i>
                                    <i class="uil uil-eye-slash showHidePw"></i>
                                </div>
                                <div class="input-field">
                                    <input
                                        name="confirmPassword"
                                        type="password"
                                        class="password"
                                        placeholder="Confirm password"
                                        required
                                    />
                                    <i class="uil uil-padlock"></i>
                                    <i class="uil uil-eye-slash showHidePw"></i>
                                </div>

                                <div class="checkbox-text">
                                    <div class="checkbox-content">
                                        <input class="checkbox-signup" type="checkbox" id="termCon" />
                                        <label for="termCon" class="text"
                                            >I accept all terms and
                                            conditions</label
                                        >
                                    </div>
                                </div>

                                <div class="error-text">
                                    <svg
                                        class="leafygreen-ui-12snj1w"
                                        height="15"
                                        width="15"
                                        role="img"
                                        aria-label="Warning Icon"
                                        viewBox="0 0 16 16"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            clip-rule="evenodd"
                                            d="M8.8639 2.51357C8.49039 1.82881 7.50961 1.82881 7.1361 2.51357L1.12218 13.5388C0.763263 14.1968 1.23814 15 1.98608 15H14.0139C14.7619 15 15.2367 14.1968 14.8778 13.5388L8.8639 2.51357ZM7 6C7 5.44772 7.44772 5 8 5C8.55228 5 9 5.44772 9 6V10C9 10.5523 8.55228 11 8 11C7.44772 11 7 10.5523 7 10V6ZM9 13C9 13.5523 8.55228 14 8 14C7.44772 14 7 13.5523 7 13C7 12.4477 7.44772 12 8 12C8.55228 12 9 12.4477 9 13Z"
                                            fill="currentColor"
                                        ></path>
                                    </svg>
                                    <p></p>
                                </div>

                                <div class="input-field button">
                                    <div id="signup-loader" class="loader"></div>
                                    <input id="signup-btn" type="submit" value="Signup" />
                                </div>
                            </form>

                            <div class="login-signup">
                                <span class="text"
                                    >Already Registered?
                                    <a class="text login-link">Login Now</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="module" src="script.js"></script>
    </body>
</html>
