<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Shortify</title>
        <link
            rel="stylesheet"
            href="https://unicons.iconscout.com/release/v4.0.8/css/line.css"
        />
        <link rel="stylesheet" href="/style.css" />
    </head>
    <body>
        <div class="main-container">
            <nav class="nav">
                <div class="auth logo">
                    <h1>Shortify</h1>
                </div>
            </nav>

            <div class="body auth-body">
                <div class="auth-container">
                    <div class="auth-forms reset">
                        <div class="auth-form login">
                            <span class="title">Reset Password</span>

                            <form class="login-form">
                                <div class="input-field">
                                    <input
                                        name="password"
                                        type="password"
                                        class="password"
                                        placeholder="Create password"
                                        required
                                    />
                                    <i class="uil uil-padlock"></i>
                                    <i class="uil uil-eye-slash showHidePw"></i>
                                </div>
                                <div class="input-field">
                                    <input
                                        name="confirmPassword"
                                        type="password"
                                        class="password"
                                        placeholder="Confirm password"
                                        required
                                    />
                                    <i class="uil uil-padlock"></i>
                                    <i class="uil uil-eye-slash showHidePw"></i>
                                </div>

                                <div class="error-text"></div>
                                <div class="input-field button">
                                    <div id="login-loader" class="loader"></div>
                                    <input
                                        id="login-btn"
                                        type="submit"
                                        value="Change Password"
                                    />
                                </div>
                            </form>

                            <div class="login-signup">
                                <a
                                    href="/auth?type=login"
                                    class="text signup-link"
                                    >Return To Login</a
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="module" src="/change.js"></script>
    </body>
</html>
